<form accept-charset="UTF-8" action="/movies" method="post">
<dl>
  <dt>
    <label for="movie_title">Title</label>
  </dt>
  <dd>
    <input type="text" name="title" id="movie_title" />
  </dd>
</dl>
<dl>
  <dt>
    <label for="movie_release_year">Release Year</label>
  </dt>
  <dd>
    <select name="release" id="movie_release_year">
      <option value="1980">1980</option>
      <option value="1981">1981</option>
      <option value="1982">1982</option>
    </select>
  </dd>
</dl>
<dl>
  <dt>
    <label>Genre</label>
  </dt>
  <dd>
    <% @genres.each do |genre| %>
      <input type="radio" name="genre_id" id="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %></input>
    <% end %>
  </dd>
  <input type="submit" name="" id="Save" value="Save" />
</dl>
</form>
